<section>
  <div class="login-form py-0 block">
    <div class="container">
      <div class="col-6 offset-3 card bg-light">
        <h3 style="padding:1.5rem 0">Log in</h3>
        <p class="subtitle text-black">Please login to proceed.</p>
        <div class="box mt-0">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <div class="control">
                  <p></p>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Your Email" %>
                </div>
              </div>

              <div class="field">
                <p></p>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder:"Password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="login-remember_me">
                  <%= f.check_box :remember_me, class:"checkbox" %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in", class:"btn btn-primary" %>
              </div>
              <br>
              <p style="border-bottom:solid 1px #6c757d;"></p>
            <% end %>
            <p class="login-subtext">
              <%= render "devise/shared/links" %>
            </p>
          </div>
        </div>
    </div>
  </div>
</section>
